#html {

  overflow: ;

}

/* ------- main ------------------------- */
main{
 width: auto;
}

.header {
  position: relative;
  background-color: #186048;

  width: 100%;
  height: 110px;
  float: left;
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
}

#mainh1 {
  padding-left: 3%;
  color: pink;

}

#banner-menu {
  padding: 0px 10px;
  color: white;
}

.wechat-button {
  float: right;
}
.wechat-button li button {
  float:left;

  border:0px solid #189b80;
  border-left:1px solid #189b80;


  margin:0;
  padding:0;
  list-style:none;
  height:35px;
  line-height:35px;
  background:#0d7963; /* you can change the backgorund color here. */
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;

  display:block;
  padding:0 28px;
  color:#ccece6;
  text-decoration:none;

}
.wechat-button a {
  display:block;
  padding:0 28px;
  color:#ccece6;
  text-decoration:none;
}
/* .wechat-button a:hover {} */



ul.nav {
	margin:0;
	padding:0;
	list-style:none;
	height:36px; line-height:36px;
	background:#0d7963; /* you can change the backgorund color here. */
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
ul.nav li {
	border-right:1px solid #189b80; /* you can change the border color matching to your background color */
	float:left;
}
ul.nav a {
	display:block;
	padding:0 28px;
	color:#ccece6;
	text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
	background:#086754;
}

.important-dates {
  float: left;
  border: 1px dashed black;
  padding: 5px;
  margin-right: 7px;
  height: 500px;
  width: 15%;
  background-color: azure;
}

.imptnt-date {
  color: red;
  border: 1px dotted black;
  padding: 2%;
  margin: 10px;
  height: 100px;
}

#dates-title {
  align-self: center;
  font-weight: bold;
  color: slategray;
}

#dates-blurt {
  color: lightgray;
  margin-left: 5px;
}

.announcement-container {
  background-color: rgba(24,96,72,0.3);

  float: center;
  margin-left: 26px;
  height: 490px;
  width: 62%;
  padding: 0% 2%;

  overflow-y: scroll;
}

.announcement {
  color: purple;
  background-color: rgba(24,96,72,0.1);
  border: 1px solid gray;
  padding-left: 2%;
  margin-bottom: 5%;

  height: auto;
  overflow-y: scroll;
}

#announcement-title {

}

article {
  border: 1px solid black;
  padding: ;
}

.post-meta {
  color: orange;
}

.post-content {
  color: blue;
}

.class-progress {
  float: right;
  border: 1px dashed black;
  padding: 5px;
  margin-left: 16px;
  height: 500px;
  width: 15%;
  background-color: azure;
}

#cp-title {
  align-self: center;
  font-weight: bold;
  color: slategray;

}

#cp-blurt {
  color: lightgray;
  margin-left: 5px;
}

.assignment {
  color: red;
  border: 1px dotted black;
  padding: 2%;
  margin: 10px;
  height: 100px;
}

/* ------- About & Powerpoints & Resources----- */
/*-- This section is for all pages but index ---- */
.about {
  margin-left: 15%;
  width: 80%;
}

.teacher-card h2 {
  text-align: center;
  text: bold;
  margin-bottom: 5px;
}

.about-h1 {
  padding-left: 25%;
}

#about .announcement-container {
  padding-top: 100px;
  overflow-y: hidden ;
  float: left;
  margin-left: 20px;
  height: 520px;
  width: 70%;
  padding: 0% 2%;
}

#about .documents-container {
  margin-left: 5%;
  width: 45%;
}

.calendar, .teacher-card {
  float: left;

  padding: 5px;
  margin-right: 5px;
  margin-left: 15px;
  height: 500px;
  width: 17%;
  background-color: rgba(00,80,80,0.13);
  /*rgba(00,80,80,0.15); *//* was azure. Did i like that better? */
  border-radius: 35px;
}



.teacher-image img {
  border: 3px solid slategray;
  border-radius: 25px;
  margin-left: ;
  margin-right: ;
  margin-top: 5%;
}

.teacher-info ul {
   list-style-type: none;
   margin-top: 35px;
   margin-left: -10px;

}


/* ------- footer -------------------------- */

footer {
  background-color: black;
  width: 100%;
  height: 100px;
  float: left;
  clear: both;
  margin-top: 20px;
}

footer#footer-content {
  font-color: white;
}

.footer-font {
  color: yellow;
}
